<template name="EmailsInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> EmailsInsertInsertForm}}
	</div>
</template>

<template name="EmailsInsertInsertForm">
	<div id="emails-insert-insert-form" class="">
		<h2 id="component-title">
			New email
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Client
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-due-date">
				<label for="dueDate">
					Due Date
				</label>
				<div class="input-div">
					<input type="text" name="dueDate" value="{{formatDate '-' ''}}" class="form-control" required="required" data-type="date">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-send-date">
				<label for="sendDate">
					Date to Send
				</label>
				<div class="input-div">
					<input type="text" name="sendDate" value="{{formatDate '-' ''}}" class="form-control" required="required" data-type="date">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-job-number">
				<label for="jobNumber">
					Job Nuber
				</label>
				<div class="input-div">
					<input type="text" name="jobNumber" value="-" class="form-control" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-project-manager">
				<label for="projectManager">
					Project Manager
				</label>
				<div class="input-div">
					<input type="text" name="projectManager" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-subject-line">
				<label for="subjectLine">
					Subject Line
				</label>
				<div class="input-div">
					<input type="text" name="subjectLine" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-sender-name">
				<label for="senderName">
					Sender Name
				</label>
				<div class="input-div">
					<input type="text" name="senderName" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-sender-email">
				<label for="senderEmail">
					Sender Email
				</label>
				<div class="input-div">
					<input type="text" name="senderEmail" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-lists">
				<label for="lists">
					List(s) to Send To
				</label>
				<div class="input-div">
					<input type="text" name="lists" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-email-service-bool">
				<label for="emailServiceBool">
					Email Service/Login
				</label>
				<div class="input-div">
					<input type="text" name="emailServiceBool" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-imfooter-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="imfooterBool" data-type="bool">
							designed by IM Marketing Group added
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-text-only-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="textOnlyBool" data-type="bool">
							Text-only Version Provided !IMPORTANT!
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-client-address-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="clientAddressBool" data-type="bool">
							Business address for client at bottom
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-phone-linked-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="phoneLinkedBool" data-type="bool">
							Phone Number linked on mobile
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-absolute-paths-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="absolutePathsBool" data-type="bool">
							Absolute Path images (+ double check paths)
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-client-info-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="clientInfoBool" data-type="bool">
							All client info correct in code
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-view-in-browser-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="viewInBrowserBool" data-type="bool">
							View in Browser added?
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-images-display-block-alt-tags-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="imagesDisplayBlockAltTagsBool" data-type="bool">
							Images include display block + alt tags
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-spacer-gifs-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="spacerGifsBool" data-type="bool">
							Remove spacer gifs
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-rows-to-tables-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="rowsToTablesBool" data-type="bool">
							Break out rows into separate centered tables
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-permission-reminder-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="permissionReminderBool" data-type="bool">
							PERMISSION REMINDER ON with correct email
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-tests-sent-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="testsSentBool" data-type="bool">
							Email tests sent and verified
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-df-footer-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="dfFooterBool" data-type="bool">
							Demandforce – include coded footer
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-cc-tracking-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="ccTrackingBool" data-type="bool">
							ConstantContact – include open tracking code
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-test-email-approved-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="testEmailApprovedBool" data-type="bool">
							Test email approved
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-email-in-wobool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="emailInWOBool" data-type="bool">
							Developer has email list in work order / email
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-friday-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="fridayBool" data-type="bool">
							Code/send is NOT both on Friday
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-send-next-day-bool">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="sendNextDayBool" data-type="bool">
							Code/send NOT same day if send date is next day
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-test-url">
				<label for="testURL">
					Test URL
				</label>
				<div class="input-div">
					<input type="text" name="testURL" value="-" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

